/*section {
	margin-top: 10px;
	margin-bottom: 30px;
}*/
/*
.test {
	background-color: #CDCDCD;
	height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.breaker {
	text-align: center;
	color: red;
	margin-top: 30px;
	margin-bottom: 10px;
}*/
.resultswindow {
	height: 200px;
	width: 250px;
	margin: 10px;
	background-color: #CDCDCD;
	display: inline-block;
}

.container_960 {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	min-width: 960px;
	position: relative;
}
.container_320 {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	min-width: 320px;
	position: relative;
}

.frac_1,
.frac_2,
.frac_3,
.frac_4,
.frac_5,
.frac_10,
.frac_3rem2,
.frac_4rem3,
.frac_5rem2,
.frac_5rem3,
.frac_5rem4,
.frac_10rem3,
.frac_10rem7,
.frac_10rem9 {
	display: inline-block;
	float: left;
	margin-left: 1.0416%;
	margin-right: 1.0416%;
}

.container_960 .frac_1 {
	width: 97.916%;
}
.container_960 .frac_2 {
	width: 47.916%;
}
.container_960 .frac_3 {
	width: 31.25%;
}
.container_960 .frac_3rem2 {
	width: 64.583%;
}
.container_960 .frac_4 {
	width: 22.916%;
}
.container_960 .frac_4rem3 {
	width: 72.916%;
}
.container_960 .frac_5 {
	width: 17.916%;
}
.container_960 .frac_5rem2 {
	width: 37.915%;
}
.container_960 .frac_5rem3 {
	width: 57.914%;
}
.container_960 .frac_5rem4 {
	width: 77.913%;
}
.container_960 .frac_10 {
	width: 7.916%;
}
.container_960 .frac_10rem3 {
	width: 27.914%;
}
.container_960 .frac_10rem7 {
	width: 67.911%;
}
.container_960 .frac_10rem9 {
	width: 87.910%;
}


.container_960 .pushfrac_2 {
	margin-left: 51.0408%;
}
.container_960 .pushfrac_3 {
	margin-left: 34.3748%;
}
.container_960 .pushfrac_3x2 {
	margin-left: 67.7%;
}
.container_960 .pushfrac_4 {
	margin-left: 26.041%;
}
.container_960 .pushfrac_4x3 {
	margin-left: 76.041%;
}
.container_960 .pushfrac_5 {
	margin-left: 21.041%;
}
.container_960 .pushfrac_5x2 {
	margin-left: 41.041%;
}
.container_960 .pushfrac_5x3 {
	margin-left: 61.041%;
}
.container_960 .pushfrac_5x4 {
	margin-left: 81.041%;
}
.container_960 .pushfrac_10 {
	margin-left: 11.041%;
}
.container_960 .pushfrac_10x3 {
	margin-left: 31.041%;
}
.container_960 .pushfrac_10x7 {
	margin-left: 71.041%;
}
.container_960 .pushfrac_10x9 {
	margin-left: 91.04%;
}







